#root {
  width: 100%;
}
.react-calendar {
  border: none !important;
  border-radius: 20px !important;
}
.react-calendar__month-view__days__day--weekend {
  color: black !important;
}
.react-calendar__tile--now {
  background: #007afe !important;
  color: white !important;
}
