#root {
  width: 100%;
}
.topBar {
  height: 60px;
  padding: 0 15px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.topBarRightSection {
  display: flex;
  gap: 5px;
}
.todayBtn {
  color: #007aff;
  font-size: 15px;
}
.nxtPrevIcon {
  color: #007aff;
  font-size: 20px;
  cursor: pointer;
}
.titleText {
  cursor: pointer;
  color: #007aff;
  font-size: 25px;
}
.tableWrapper {
  overflow-y: auto;
  height: clac(100vh - 60px);
  position: relative;
}
.currentDate {
  background: #007afe;
  color: #fff;
  padding: 0 8px;
  border-radius: 25px;
}
.resourceTitle {
  font-weight: bold;
}
.react-calendar {
  border: none !important;
  border-radius: 20px !important;
}
.react-calendar__month-view__days__day--weekend {
  color: black !important;
}
.react-calendar__tile--now {
  background: #007afe !important;
  color: white !important;
}
.ant-table-thead > tr > th {
  background: #fff !important;
}
.addEventBtn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #fff;
  color: #007afe !important;
  color: white;
  border: none;
  border-radius: 20px;
  width: 22px;
  height: 22px;
  padding: 0 0 10px 0 !important;
}
.cell-container:hover .addEventBtn {
  visibility: visible;
}
.ant-table-wrapper .ant-table-tbody > tr > td:not(:first-child) {
  padding: 0px;
}
.ant-table-wrapper .ant-table-tbody > tr > td:first-child {
  z-index: 3 !important;
}
.eventBox {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  padding: 5px 12px;
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 0;
  cursor: grab;
  font-weight: bold;
  transition: opacity 0.3s;
}
.eventBox:hover {
  opacity: 0.7;
}
.ant-table-tbody > tr:hover > td {
  background: transparent !important;
}
.eventBox .eventText {
  display: block;
}
.eventBox .deleteIcon {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.eventBox:hover .eventText {
  display: none;
}
.eventBox:hover .deleteIcon {
  display: block;
}
